# ÜNİTE 3 - LİSTELER

# 1. Liste Oluşturma

Listeler (`list`) de, tıpkı `boolean`, `string`, sayı gibi bir veri tipidir. 

Değerlerin bir araya geldiği topluluktur. Bir liste oluşturmak için köşeli parantez `[]` içine değerler yazılır. Örneğin;

In [1]:
a = "çok" 
b = "güzeldir"
listem = ["benim", "liste", a, b]
print(listem)

['benim', 'liste', 'çok', 'güzeldir']

Bir başka örnek daha: 

Evinizin tüm odalarının alanını ölçmeye karar verdiniz ve bu alanlardan oluşan bir liste hazırlamak istiyorsunuz:

In [2]:
# alan değişkenleri (metrekare cinsinden)
koridor = 11.25
mutfak = 18.0
salon = 20.0
yatak_odasi = 10.75
banyo = 9.50

# Alanlardan oluşan listeyi yazalım. 
alan = [koridor, mutfak, salon, yatak_odasi, banyo]


# Bu listeyi ekrana yazdıralım. 
print(alan)

[11.25, 18.0, 20.0, 10.75, 9.5]

## 1.1 Değişik Veri Türleri ile Liste Oluşturma

Bir liste, her türlü Python veri tipini içerebilir. Çok yaygın olmasa da, bir liste `string`, `float`, `boolean` gibi karışık elemanlardan oluşabilir.

Bir önceki örnekte, hangi odanın alanının ne kadar olduğunu listede anlayamadık. Listemizin bizi daha mutlu etmesi için, hangi alan bilgisinin hangi odaya karşılık geldiğini eklemek istiyoruz.

In [3]:
# alan değişkenleri (metrekare cinsinden)
koridor = 11.25
mutfak = 18.0
salon = 20.0
yatak_odasi = 10.75
banyo = 9.50

# Alanlardan ve oda isimlerinden oluşan listeyi yazalım. 
alan = ["koridor", koridor, "mutfak", mutfak, "salon", salon, "yatak odası", yatak_odasi, "banyo", banyo]

# Bu listeyi ekrana yazdıralım. 
print(alan)

['koridor', 11.25, 'mutfak', 18.0, 'salon', 20.0, 'yatak odası', 10.75, 'banyo', 9.5]

Bir liste, herhangi bir Python veri tipini içerebilir. Bir liste de, başlı başına bir Python veri tipidir. Yani, bir liste başka listeleri de içerebilir. Söz dizimini hatırlayalım: 

    listem = [eleman1, eleman2, eleman3, ...]

Aşağıdakilerden hangileri Python dilinde bir liste oluşturur?

A. `[1, 3, 4, 2]`

B. `[[1, 2, 3], [4, 5, 7]]` 

C. `[1 + 2, "a" * 5, 3]`

A seçeneğinin tüm elemanları sayıdır. Dolayısıyla bir listedir. 

B seçeneğinin elemanları, iki adet listeden meydana gelmektedir. Bu da bir listedir. 

C seçeneğinin elemanları, aritmetik operatörler içerse de, sonuç olarak iki sayıdan ve bir stringten meydana gelmektedir. Dolayısıyla bu da bir listedir.

# 2. Listelerden Oluşan Listeler

Veri biliminde, çok fazla veriyle birlikte çalışılır. Dolayısıyla bazı verileri gruplamak veriyi iyileştirebilir. 

`string` ve `float` türündeki değerlerden oluşan düz listeler hazırlamak yerine, birbiriyle ilişkili listelerden oluşan bir liste oluşturmak daha mantıklıdır. Bir önceki örneği, bu anlayışa göre düzenlemek size bir fikir verecektir.

In [4]:
# alan değişkenleri (metrekare cinsinden)
koridor = 11.25
mutfak = 18.0
salon = 20.0
yatak_odasi = 10.75
banyo = 9.50

ev = [["koridor", koridor],
      ["mutfak", mutfak],
      ["salon", salon],
      ["yatak odası", yatak_odasi], 
      ["banyo", banyo]]

# ev listesini ekrana yazdıralım
print(ev)

# ev listesi veri tipini ekrana yazdıralım. Gerçekten bir liste mi? 
print(type(ev))

[['koridor', 11.25], ['mutfak', 18.0], ['salon', 20.0], ['yatak odası', 10.75], ['banyo', 9.5]]
<class 'list'>





# 3. Liste Alt Kümeleri ve Liste İndeksleri

Listelerde bulunan elemanlar üzerinde işlem yapmak oldukça gereklidir. Büyük veri içeren listelerdeki bir ya da birkaç elemanı çıkarmak için yapılan işlemi bir örnekle gösterelim.

In [5]:
x = ["a", "b", "c", "d"]
x[1]

'b'

In [6]:
x[-3]

'b'

Görüleceği üzere aynı sonucu verdi. Kısacası, bir listenin ilk elemanı listenin sıfırıncı elemanıdır (`x[0]`). İkinci eleman ise `x[1]` ile çağrılır. Listedeki elemanı soldan sağa bir sırayla çağırmak istediğimizde, eleman sırası sıfırdan başlamaktadır.

Eğer listenin sağından soluna doğru giden bir sıralamayı tercih edersek; listenin en sonunda bulunan en sağdaki eleman `x[-1]` ile çağrılır. Yani, sondaki ilk eleman konum olarak -1.ci elemandır. Örnekte verilen `'b'` elemanı, soldan sağa 1., sağdan sola -3. elemandır. Köşeli parantezlere yazılan rakamlar __indeks__ olarak anlandırılır. 


Bir başka örnek;
dünyaca ünlü zincir süpermarketlerin isimlerini gösteren bir listemiz olsun.

In [7]:
 superstore = ["metro", "tesco", "walmart", "kmart", "carrefour"]

![](superstore.png)

In [8]:
superstore[0]

'metro'

In [9]:
superstore[1]

'tesco'

In [10]:
superstore[2]

'walmart'

In [11]:
superstore[3]

'kmart'

In [12]:
superstore[4]

'carrefour'

In [13]:
superstore[9] # Bu altküme filtremesi hata verecektir. Çünkü listemizde indeksi 9 olan eleman bulunmamaktadır.
# `list index out of range` hatası görünecek

IndexError: list index out of range

![](superstore_inverse.png)

In [14]:
superstore[-3]

'walmart'

Ev örneğimize geri dönelim:

In [15]:
ev = ["koridor", 11.25, "mutfak", 18.0, "salon", 20.0, "yatak odası", 10.75,"banyo", 9.50]

# ev listesindeki ikinci elemanı ekrana yazdıralım.
print(ev[1])

# ev listesindeki son elemanı ekrana yazdıralım. 
print(ev[-1])

# Yatak odasının alanını ekrana yazdıralım. 
print(ev[7])

11.25
9.5
10.75

Listelerden değerleri dışarı çıkardıktan sonra (altkümeleri seçtikten sonra), bunların üzerinde ek işlemler yapılabilir.Örneğin, 

    x = ["a", "b", "c", "d"]


    print(x[1] + x[3])

Ev listesini kullanarak, evdeki yemek ve uyumak için kullanılan odaların toplam alanını hesaplayalım:

In [16]:
ev = ["koridor", 11.25, "mutfak", 18.0, "salon", 20.0, "yatak odası", 10.75,"banyo", 9.50]

yeme_uyuma_alani = ev[3] + ev[7]  # önce mutfağın, sonra yatak odasının alanları dışarı çıkarılır. 
# Bunlar toplanarak, yeme + uyuma alani hesaplanır

# Ekrana verelim.
print(yeme_uyuma_alani)

28.75

# 4. Liste Dilimleme


Listelerden tek bir değeri çıkarmak, hikayenin sadece bir bölümüydü. Listelerin içinden dilimler halinde, bir başka deyişle, çoklu eleman çıkarmak olanaklıdır. Bunun için aşağıdaki söz dizimi kullanılır: 

    listem[baslangic:bitis]

__!!! Başlangıç elemanı dilimlemeye dahildir, ancak bitiş olarak girilen eleman dahil edilmez.__

Aşağıdaki örnek kodu bir örnek olarak verelim. Amacımız, `"b"` ve  `"c"` elemanlarından oluşan listeyi çıkarmak olsun. Bu elemanlar sırasıyla, mevcut listenin 1. ve 2. sıradaki (indeksteki) elemanlarıdır. 


Yazım olarak `1:3` tercih edilmek zorundadır. Çıkarılan listede, 1. ve 2. indeksin elemanları bulunacaktır. Ancak 3. indeksin elemanı dahil edilmeyecektir.

In [19]:
x = ["a", "b", "c", "d"]
y= x[1:3]

['b', 'c']
<class 'list'>

Yine ev listesi örneğini kullanarak bir alıştırma yapalım. Listenin ilk 6 elemanı, alt katta bulunsun. Geri kalan elemanlar ise evin üst katında bulunsun.
Alt kat ve üst kat için ayrı ayrı listeler oluşturup, ekrana verelim.

In [20]:
ev = ["koridor", 11.25, "mutfak", 18.0, "salon", 20.0, "yatak odası", 10.75,"banyo", 9.50]

alt_kat = ev[:6]
ust_kat = ev[-4:]

print(alt_kat)
print(ust_kat)

['koridor', 11.25, 'mutfak', 18.0, 'salon', 20.0]
['yatak odası', 10.75, 'banyo', 9.5]

Başka örnekle pekiştirelim;

In [21]:
x = ["a", "b", "c", "d"]

In [22]:
x[:2]

['a', 'b']

In [23]:
x[2:]

['c', 'd']

In [24]:
x[:]

['a', 'b', 'c', 'd']

# 5. Listelerdeki Alt Kümeleri Dilimleme

Python'da, liste elemanlarının liste de olabileceğini görmüştük. Bu liste şeklindeki altkümeleri oluşturabilmek için yine köşeli parantezler kullanacağız. Örneğin;

In [25]:
x = [["a", "b", "c"],
    ["d", "e", "f"],
    ["g", "h", "i"]]

In [35]:
x[2]  # 3. elemana denk gelen liste

['g', 'h', 'i']

In [31]:
x[2][0] # 3. elemana denk gelen listedeki 1. alt eleman değeri

'g'

In [34]:
x[2][:2] # 3. elemana denk gelen listedeki, 1. ve 2. alt elemandan oluşan dilimlenmiş altküme

['g', 'h']

Ev örneğine döndüğümüzde;

In [36]:
ev = [["koridor", koridor],
        ["mutfak", mutfak],
        ["salon", salon],
        ["yatak odası", yatak_odasi],
        ["banyo", banyo]]

In [37]:
ev[-1][1] #Sonuncu eleman olan listenin ikinci alt elemanı (banyonun alanı)

9.5

# 6. Listedeki Elemanları Değiştirme

Elinizdeki listenin elemanlarını değiştirmek (yeniden tanımlamak), Python'da oldukça basittir. Özetle, değiştirmek istediğiniz elemanı dilimleyerek altküme halinde çıkarıyorsunuz ve bu altkümeye yeni değer atıyorsunuz. Örneğin;

In [38]:
x = ["a", "b", "c", "d"]  # Elimizdeki bu listenin ikinci elemanını değiştirmek istiyoruz. 

x[1] = "r" # İkinci elemana denk gelen 1.indeksi dilimleyip çıkarıyoruz ve yeni değerini belirliyoruz.

print(x)

['a', 'r', 'c', 'd']

In [39]:
# Aynı değiştirme işlemini birden fazla elemana uygulamak olanaklıdır.

x[2:] = ["s", "t"]  # Burada x listesinin 3. ve son elemanını (2.indeksten itibaren), yeni değerleri ile değiştirelim.

print(x)

['a', 'r', 's', 't']

Benzer bir örneği, ev listesi için de yapalım.

In [43]:
ev1 = ["koridor", 11.25, "mutfak", 18.0, "salon", 20.0, "yatak odası", 10.75,"banyo", 9.50]

Banyonun alanını 10.50 metrekare olarak değiştirelim:

In [44]:
ev1[-1] = 10.50

Salonun ismini de "oturma odası" olarak değiştirelim.

In [45]:
ev1[4] = "oturma odası"

In [46]:
print(ev1)

['koridor', 11.25, 'mutfak', 18.0, 'oturma odası', 20.0, 'yatak odası', 10.75, 'banyo', 10.5]

Eğer listenizdeki elemanları değiştirirken listenin orijinalini korumayı arzuluyorsanız, listenizin bir kopyasını oluşturup, o kopya üzerinde değişiklikler yapabilirsiniz. Örneğin;

In [47]:
# alan listesini oluşturalım
alan = [11.25, 18.0, 20.0, 10.75, 9.50]

# alan_kopya listesini türetelim. 
alan_kopya = alan[:]

# alan_kopya listesindeki ilk elemanı değiştirelim.
alan_kopya[0] = 5.0

# alan_kopya listesini ve alan listesini ekrana yazdıralım. 
print(alan_kopya)
print(alan)

[5.0, 18.0, 20.0, 10.75, 9.5]
[11.25, 18.0, 20.0, 10.75, 9.5]

# 7. Listeleri Genişletme

Python'da oluşturduğumuz listelere yeni elemanlar ekleyerek, onları genişletmemiz oldukça basittir. Bunun için sadece toplama (`+`) operatörü kullanılır. Ev listesine, havuz ve garaj ekleyelim.

In [49]:
ev2 = ["koridor", 11.25, "mutfak", 18.0, "salon", 20.0, "yatak odası", 10.75,"banyo", 9.50]

ev_yeni1 = ev2 + ["havuz", 24.5]

print(ev_yeni1)

['koridor', 11.25, 'mutfak', 18.0, 'salon', 20.0, 'yatak odası', 10.75, 'banyo', 9.5, 'havuz', 24.5]

In [50]:
ev_yeni2 = ev_yeni1 + ["garaj", 15.45]

print(ev_yeni2)

['koridor', 11.25, 'mutfak', 18.0, 'salon', 20.0, 'yatak odası', 10.75, 'banyo', 9.5, 'havuz', 24.5, 'garaj', 15.45]

# 8. Listelerden Eleman Silme

Son olarak, listelerinizden eleman silmeniz de olanaklıdır. del ifadesini kullanmanız bunun için yeterlidir. Örneğin;

In [51]:
m = ["a", "b", "c", "d"]

del(m[1]) # Listenizdeki 2. elemanı (1.indeks elemanı) silmek istiyorsunuz

print(m)

['a', 'c', 'd']

__Dikkat! Listenizden eleman sildikçe, sildiğiniz elemandan sonra gelen tüm elemanların indeksleri değişir.__

Son hazırladığımız ev listesi örneğine geri dönelim. Bir hata oluştu ve piyangodan kazandığınız paranın aslında daha az olduğunu öğrendiniz. Dolayısıyla, yüzme havuzu hayaliniz gerçek olmayacak. Listemizden yüzme havuzunu stringini ve alanı gösteren floatı silmemiz gerekiyor.

In [53]:
ev_yeni2 = ['koridor', 11.25, 'mutfak', 18.0, 'salon', 20.0, 'yatak odası', 10.75, 'banyo', 9.5, 'havuz', 24.5, 'garaj', 15.45]

del(ev_yeni2[-4:-2])

print(ev_yeni2)

['koridor', 11.25, 'mutfak', 18.0, 'salon', 20.0, 'yatak odası', 10.75, 'banyo', 9.5, 'garaj', 15.45]